* {
    margin: 0;
    padding: 0;
}

body {
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
}

a {
    color: blue;
    outline: none;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
p {
    margin: 0 0 18px
}
img {
    border: none;
}
input {
    vertical-align: middle;
}

#wrapper {
    width: 100%;
    min-width: 1000px;
}


/* Middle
-----------------------------------------------------------------------------*/
#middle {  
    position: absolute;
    width: 100%;
    min-width: 1000px;
}
 
#container {
    height: 99%;
    width: 100%; 
    float: left;  
} 


/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
    float: left;
    width: 220px;
    height: 100%; 
    position: absolute;
    background: #B5E3FF;
    padding: 0 20 0 20px
}

/* http://matthewjamestaylor.com/blog/ultimate-2-column-left-menu-pixels.htm */
.colmask { position:relative; clear:both; float:left; width:100%; overflow:hidden; }

/* (left) has to equal .col1wrap and is the width of left column = left_col */
.leftmenu .colright { float:left; width:200%; position:relative; left:270px; }
/* (right) has to equal .colright and is the width of left column = left_col  */
.leftmenu .col1wrap { float:right; width:50%; position:relative;right:270px; }
/* (margin) = 0 padding 0 left_col+padding  */
.leftmenu .col1 { margin:0 0 0 270px; position:relative; right:100%; overflow:hidden; }
/* one extra pixel on width to hide double border */
/* (width) is left_col-2*padding and (right) is left_col-padding */
.leftmenu .col2 { float:left; width:270px; position:relative; right:270px; }

 
