body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:0px; padding:0px; width:100%; min-height:100%; color:#333; text-align:left; font-size:14px; font-weight:normal; background:#333;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

#wrapper{ 
    height:650px; width:100%; float:left; background:url(assets/bg.jpg) no-repeat center top; 
}

#bottom{ 
    padding: 0 0 800px 0;
    height:160px; width:100%;
    background-color:#333;
}

#bottom h1{
    font-weight: 300;
    font-size:27px; line-height:normal; color:#FFF; font-weight:normal; padding:0 0 0 0px; text-align:center; margin:0 0 40px 0; 
}

#bottom h2{
    font-weight: 300;
    font-size:22px; line-height:normal; color:#FFF; font-weight:normal; padding:0 0 0 0px; text-align:center; margin:0 0 40px 0; 
}

#bottom h3{
    font-weight: 300;
    font-size:18px; line-height:normal; color:#FFF; font-weight:normal; padding:0 0 0 0px; text-align:center; margin:0 0 40px 0; 
}

#bottom a 
{ 
    font-weight:bold;
    color: white;
    text-decoration: none;
}
 
#footer{
    width:960px; margin:0 auto;
}
 

#footer .copyright{
    font-size:12px; color:#FFF; float:left; padding:5px 22px 0px 0px;  
}
 
#header{
    width:960px; margin:0 auto;
}
	
.header_top{
    width:0px; float:left; padding:0px 20px 0px 0px;
    height:20;  
}

.logo{
    float:left; margin:15px 0px 0px 10px;
}

.box_container{
    width:980px; float:left; padding:0 0 60px 0; margin: 0 0 0 22%;
}

.box_container .box_left{
    height:100%; float:left; padding:0px 60px 0px 0px;
    background: url(assets/iphone.png) no-repeat center top;
    background-origin:content-box;
    background-size:363px 581px; 
} 

.box_container_slider{
    width:256px; height:382px; position:relative;   
    margin:100px 32px 0 31px;
    background: black no-repeat center top; 
}

.box_container .box_right{
    width:400px; float:right; padding:0px 0px 15px 0px;
}

.box_container .right_space{
    width:200px; 
    height:60px;  
}

.box_container .bg{
    width:400px; float:left; padding:5px 20px 0 15px;
    border-radius:10px;  
    background-color:rgba(0,5,10,0.72);
}

.box_container .box_right h1{
    text-align: center;
    font-weight: 300;
    font-size:22px; line-height:normal; color:#FFF; font-weight:normal; text-shadow: 0px 1px 1px #333; padding:0 0 0 7px;
}

.box_container .box_right p{
    font-size:18px; line-height:24px; color:#FFF; font-weight:normal; text-shadow: 0px 1px 0.1em #333; padding:0 0 2px 7px;
}

.box_container .box_right p span{
    font-weight:bold; display:block; margin:0 0 5px 0 ;
}
 

.fadein { position:relative; width:500px; height:332px; }
.fadein img { position:absolute; left:0; top:0; }

.img-container {
    display: inline-block;
    position: relative; 
}

.img-upload {  
    position: absolute;
    display: none; 
    right:5px;
    bottom:5px;
    pointer-events:none;
}
.img-container:hover .img-upload{
    display: block;
}
